@import "tailwindcss";

.projectCart {
  box-shadow: rgba(43, 105, 251, 0.06) 0px 0px 1rem 1rem;
  border-color: rgba(43, 105, 251, 0.12);
}

.loading___left {
  clip-path: polygon(0 0, 0% 100%, 50% 50%);
}
.loading___right {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 98%, 51% 49%);
}
